In [2]:
import pandas as pd
import numpy as np

- Import Total Population Data

In [3]:
dp = pd.read_csv('pop.csv')
dp

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

- Split data to Country and Number of Population

In [4]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
dp['Population (2020)'].describe()

count          235.000
mean      33227444.281
std      135303438.497
min            801.000
25%         399490.500
50%        5460109.000
75%       20671699.500
max     1440297825.000
Name: Population (2020), dtype: float64

In [6]:
col_list = ["Country (or dependency)", "Population (2020)"]
dfp = pd.read_csv("pop.csv", usecols=col_list)
dfp

    Country (or dependency)  Population (2020)
0                     China         1440297825
1                     India         1382345085
2             United States          331341050
3                 Indonesia          274021604
4                  Pakistan          221612785
..                      ...                ...
230              Montserrat               4993
231        Falkland Islands               3497
232                    Niue               1628
233                 Tokelau               1360
234                Holy See                801

[235 rows x 2 columns]

In [7]:
dfp.to_csv('02 - Country.csv', index=False)

In [8]:
df_clean = pd.read_csv('01 - CVP.csv')
df_clean.head()

,Unnamed: 0,country,Country Code,date,Total Vaccinations,Total People Vaccinated,People vaccinated,Daily Vaccinations Raw,Daily Vaccinations,Total 100,People Vaccinated 100,People Vaccinated 100 (1),Daily Vaccination 1 mio,Vaccines,Source,Website
0,0,Algeria,DZA,2021-01-29,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
1,1,Algeria,DZA,2021-01-30,30.000,0.000,0.000,30.000,30.000,0.000,0.000,0.000,1.000,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
2,2,Andorra,AND,2021-01-25,576.000,576.000,0.000,0.000,0.000,0.750,0.750,0.000,0.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
3,3,Andorra,AND,2021-01-26,0.000,0.000,0.000,0.000,66.000,0.000,0.000,0.000,854.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
4,4,Andorra,AND,2021-01-27,0.000,0.000,0.000,0.000,66.000,0.000,0.000,0.000,854.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...

In [9]:
df_clean.replace(np.nan, 0)

,Unnamed: 0,country,Country Code,date,Total Vaccinations,Total People Vaccinated,People vaccinated,Daily Vaccinations Raw,Daily Vaccinations,Total 100,People Vaccinated 100,People Vaccinated 100 (1),Daily Vaccination 1 mio,Vaccines,Source,Website
0,0,Algeria,DZA,2021-01-29,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
1,1,Algeria,DZA,2021-01-30,30.000,0.000,0.000,30.000,30.000,0.000,0.000,0.000,1.000,Sputnik V,Ministry of Health,https://www.aps.dz/regions/116777-blida-covid-...
2,2,Andorra,AND,2021-01-25,576.000,576.000,0.000,0.000,0.000,0.750,0.750,0.000,0.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
3,3,Andorra,AND,2021-01-26,0.000,0.000,0.000,0.000,66.000,0.000,0.000,0.000,854.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
4,4,Andorra,AND,2021-01-27,0.000,0.000,0.000,0.000,66.000,0.000,0.000,0.000,854.000,Pfizer/BioNTech,Government of Andorra,https://www.govern.ad/comunicats/item/12379-se...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2059,Wales,0,2021-01-28,362970.000,362253.000,717.000,26225.000,21463.000,11.510,11.490,0.020,6807.000,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
2060,2060,Wales,0,2021-01-29,378950.000,378200.000,750.000,15980.000,19705.000,12.020,12.000,0.020,6250.000,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
2061,2061,Wales,0,2021-01-30,404249.000,403463.000,786.000,25299.000,19885.000,12.820,12.800,0.020,6307.000,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
2062,2062,Wales,0,2021-01-31,417147.000,416306.000,841.000,12898.000,20824.000,13.230,13.200,0.030,6605.000,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
2063,2063,Wales,0,2021-02-01,440706.000,439640.000,1066.000,23559.000,21508.000,13.980,13.940,0.030,6822.000,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [10]:
col_list = ["country", "date", "Total Vaccinations", "Daily Vaccinations", "People Vaccinated 100", "Daily Vaccination 1 mio", "Vaccines"]
dfn = pd.read_csv("01 - CVP.csv", usecols=col_list)
dfn

,country,date,Total Vaccinations,Daily Vaccinations,People Vaccinated 100,Daily Vaccination 1 mio,Vaccines
0,Algeria,2021-01-29,0.000,0.000,0.000,0.000,Sputnik V
1,Algeria,2021-01-30,30.000,30.000,0.000,1.000,Sputnik V
2,Andorra,2021-01-25,576.000,0.000,0.750,0.000,Pfizer/BioNTech
3,Andorra,2021-01-26,0.000,66.000,0.000,854.000,Pfizer/BioNTech
4,Andorra,2021-01-27,0.000,66.000,0.000,854.000,Pfizer/BioNTech
...,...,...,...,...,...,...,...
2059,Wales,2021-01-28,362970.000,21463.000,11.490,6807.000,"Oxford/AstraZeneca, Pfizer/BioNTech"
2060,Wales,2021-01-29,378950.000,19705.000,12.000,6250.000,"Oxford/AstraZeneca, Pfizer/BioNTech"
2061,Wales,2021-01-30,404249.000,19885.000,12.800,6307.000,"Oxford/AstraZeneca, Pfizer/BioNTech"
2062,Wales,2021-01-31,417147.000,20824.000,13.200,6605.000,"Oxford/AstraZeneca, Pfizer/BioNTech"
2063,Wales,2021-02-01,440706.000,21508.000,13.940,6822.000,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [12]:
dfn.to_csv('02 - CVP.csv', index=False)